<div *ngIf="starring">
    <h2>{{starring.name | uppercase}} Details</h2>
    <div><span>ID: </span>{{starring.pk}}</div>
    <div><span>Age: </span>{{starring.age}}</div>
    <div><span>Nationality: </span>{{starring.nationality}}</div>
    <div>
        <label>name:
      <input [(ngModel)]="starring.name" placeholder="name"/>
    </label>
    </div>
    <button (click)="goBack()">Go back</button>
    <button (click)="save()">Save</button>
    <button (click)="delete(starring)">Delete</button>
</div>