<h4>New Rating</h4>

<div>
    <mat-form-field>
        <input type="text" placeholder="Title" aria-label="Title" [matAutocomplete]="autoTitle">
        <mat-autocomplete #autoTitle="matAutocomplete">
            <mat-option *ngFor="let title of titles" [value]="title.name">
                {{title.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <label>Note:
        <input #noteRating />
      </label>
    <button (click)="newRating(ratingTitle.value, noteRating.value)">
      rate
    </button>
</div>


<h3>Ratings</h3>
<div class="grid grid-pad">
    <a *ngFor="let rating of ratings" class="col-1-4">
        <div class="module rating">
            <h4>{{rating.profile}}</h4>
            <h4>{{rating.title}}</h4>
            <h4>Note: {{rating.note}}</h4>
        </div>
    </a>
</div>