<head>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <h3>Login</h3>
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username" name="username" [(ngModel)]="user.username">
            <span>Username</span>
        </div>
    </form>

    <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="password" id="password" name="password" [(ngModel)]="user.password">
            <span>Password</span>
        </div>
    </form>

    <!-- Colored raised button -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" (click)="fazerLogin()">
    Submit
  </button>

    <p ([ngModel])="mensagem" id="mensagem" style="font-size: 17px; color: rgb(255, 0, 0); font-weight: bold;">{{ mensagem }} </p>

</body>