<h4>New Title</h4>

<div>
    <label>Name:
      <input #TitleName />
    </label>
    <label>Gender:
        <input #titleGender />
      </label>
    <label>Year:
        <input #titleYear />
      </label>
    <label>Starring:
        <input #titleStarring />
      </label>
    <button (click)="newTitle()">
      add
    </button>
</div>


<h3>Titles</h3>
<div class="grid grid-pad">
    <a *ngFor="let title of titles" class="col-1-4" routerLink="/titles/{{titles.pk}}">
        <div class="module title">
            <a routerLink="/titles/{{title.pk}}">{{title.name}}</a>
        </div>
    </a>
</div>