<div *ngIf="title">
    <h2>{{title.name | uppercase}} DETAILS</h2>
    <div>
        <label>Name:
      <input [(ngModel)]="title.name" placeholder="name"/>
    </label>
    </div>
    <div>
        <label>Starring:
        <input [(ngModel)]="title.starring" placeholder="starring"/>
      </label>
    </div>
    <div>
        <label>Year:
        <input [(ngModel)]="title.year" placeholder="year"/>
      </label>
    </div>
    <div>
        <label>Gender:
        <input [(ngModel)]="title.gender" placeholder="gender"/>
      </label>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
</div>